<h1>Home - idades</h1>
<form action="/check" method="post">
  <input type="number" placeholder="Digite sua idade" name="age"/>
  {# <input type="submit" value="Checar"/> #}
  <button type="submit">Checar</button>
</form>
