{# extendendo o arquivo auth, vamos herdar o "corpo" do html #}
{% extends "_layouts/auth.njk" %}

{# com o block body irá "encaixar" dentro da mesma estrutura do auth.njk #}
{% block body %}
  <h1>Hello world 2</h1>
{% endblock %}
