{% extends "_layouts/default.njk" %}

{% block body %}

  <div class="content">
    <strong>Olá, {{ user.name }}</strong>

    {% if user.provider === false %}
      <p>Inicie um agendamento escolhendo um profissional abaixo</p>

      <ul class="providers">
        {% for provider in providers %}
          <li class="provider">
            <div>
              <img src="/files/{{ provider.avatar }}"/>
              <strong>{{ provider.name }}
            </div>

            <a href="/app/appointments/new/{{ provider.id }}">+</a>
          </li>
        {% endfor %}
      </ul>

    {% else %}
      <p>Veja a lista dos seus agendamentos abaixo</p>
      <ul class="providers">
        {% for appointment in appointments %}
          <li class="provider">
            <div>
              <img src="/files/{{ appointment.user.avatar }}"/>
              <strong>{{ appointment.user.name }} <br> {{ appointment.date | date("HH:mm") }}</strong>
            </div>
          </li>
        {% endfor %}
      </ul>

    {% endif %}
    <a href="/app/logout" class="logout">Logout</a>
  </div>


{% endblock %}
